#app {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.characters .card {
    width: 225px;
    height: 225px;
}

.chat {
    overflow-y: scroll;
}